body {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  background-image: url("../images/stars.jpg");
}

header{
  font-size: 75px;
  font-variant: small-caps;
  width: 90%;
  border-style: solid;
  border-color: black;
  background-color: lightgray;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5px;
  padding: 5px;
}

#menu{
  width: 90%;
  border-style: solid;
  border-color: black;
  background-color: lightgray;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5px;
  padding: 5px;
}

#content{
  width: 90%;
  border-style: solid;
  border-color: black;
  background-color: lightgray;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5px;
  padding: 5px;
}

#footer{
  width: 90%;
  border-style: solid;
  border-color: black;
  background-color: lightgray;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5px;
  padding: 5px;
}
