* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  background-color: gray;
}

header{
  font-size: 75px;
  font-variant: small-caps;
  background-color: darkblue;
}

#menu{

}

#content{

}

#footer{

}
